.dialog-box {
    -fx-spacing: 12px;
    -fx-padding: 8px 12px 8px 12px;
}

.label {
    -fx-padding: 10px 14px 10px 14px;
    -fx-font-size: 13px;
    -fx-line-spacing: 2px;
}

.user-dialog .label {
    -fx-background-color: #0f3460;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 15px 15px 2px 15px;
}

.wiz-dialog .label {
    -fx-background-color: #533483;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 15px 15px 15px 2px;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 8, 0, 0, 2);
}
